{% extends "schedule/base.html" %}
{% load i18n %}
{% load scheduletags %} {% load officehourstags %}


{% block body %}

<h1>Calendar metadata</h1>

<div>
    <p>See as:</p>
    <ul>
        <li><a href="{% url compact_calendar %}">Small Month</a></li>
        <li><a href="{% url month_calendar %}">1 Month</a></li>
        <li><a href="{% url tri_month_calendar %}">3 Months</a></li>
        <li><a href="{% url year_calendar %}">This Year</a></li>
        <li><a href="{% url week_calendar %}">Weekly</a></li>
        <li><a href="{% url day_calendar %}">Daily</a></li>
        <li><a href="/schedule/feed/calendar/upcoming/{{ calendar.id }}/">Feed</a></li>
    </ul>
</div>

<div><i>Now see docstring for schedule.views.calendar</i></div>

{% endblock %}
