{% extends "schedule/base.html" %}
{% load scheduletags %} {% load officehourstags %}

{% block body %}

{% include "schedule/_dialogs.html" %}
<div class="tablewrapper">
    {% prevnext "week_calendar" calendar.slug periods.week "\Week W, M Y" %}
    <div class="now">
      <a href="{% url week_calendar %}">
        This week
      </a>
    </div>
    <div id="week">
      {% for day in periods.week.get_days %}
        <div class="weekday weekday{{forloop.counter}}">
          <div class="weekdayheader">
              {{day.start|date:"l, d"}}
          </div>
          <div class="weekdaytable">
          {% if forloop.first %}
              {% daily_table day 230 80 600 9 21 %}
          {% else %}
              {% daily_table day 150 15 600 9 21 %}
          {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}

