{% extends "schedule/base.html" %}
{% load scheduletags %} {% load officehourstags %}


{% block body %}

{% include "schedule/_dialogs.html" %}
<div class="tablewrapper">
    <div class="calendarname">{{ calendar.name }}</div>
    {% prevnext "day_calendar" calendar.slug periods.day "l, F d, Y" %}
    <div class="now">
      <a href="{% url day_calendar %}">
        Today
      </a>
    </div>
<div style="position:absolute;">
    <div style="position:absolute;left:100px;">
      {% daily_table periods.day 420 120 600 0 12 %}
    </div>

    <div style="position:absolute;left:600px;">
      {% daily_table periods.day 420 120 600 12 24 %}
    </div>
</div>
</div>

{% endblock %}

{% block schedule_subnav %}
  <div class="pretty">
    <h2>Subview:</h2>
    <ul>
        <li><a href="{% url week_calendar %}{% querystring_for_date periods.day.start 3 %}">Week</a></li>
        <li><a href="{% url month_calendar %}{% querystring_for_date periods.day.start 2 %}">Month</a></li>
        <li><a href="{% url year_calendar %}{% querystring_for_date periods.day.start 1%}">Year</a></li>
    </ul>
  </div>
{% endblock schedule_subnav %}
