{% extends "schedule/event_form_base.html" %}
{% load i18n %}

{% block body %}
<form action="" method="post"> {% csrf_token %}
<table class="pretty">
<thead><tr><td colspan="2">
<b>{% trans "Create or change event. All fields are required." %}</b>
</td></tr></thead>
<tbody>
{{ form.as_table }}
</tbody>
<tfoot>
<tr><td colspan="2">
<input type="submit" value="{% trans 'Save' %}">
<input type="hidden" name="next" value="{{next|default:""}}">
</td></tr>
</tfoot>
</table>
</form>
{% endblock %}

{% block extra_head %}
    {{ block.super }}
<style>
/* hacky css */
  .pretty th { padding-left:10px; }
  .pretty input[type="text"] { width: 100px; }
  .disable { opacity: 0.3; }
  #id_title { width: 380px; }
  #id_description { width: 380px; height: 100px; }
</style>
<script type="text/javascript">
function doStuff(){
  $('form tbody > tr:gt(2)').toggleClass('disable',function() { return !$('#id_repeats').is(':checked'); });
}
$(function(){
  $('#id_repeats').click(doStuff);
  doStuff();
});
</script>
{% endblock %}
