{% extends "schedule/base.html" %}
{% load i18n %}

{% block body %}
TODO replace this with a modal, and send the user someplace meaningful afterwards
<form action="." method="POST"> {% csrf_token %}
  <div class="pretty">
    <h1>{% trans "Delete" %}</h1>
    <p>{% trans "Are you sure that you want to delete:" %}</p>
    <p>{{ object }}</p>
    <div class="footer">
      <input type="submit" value="{% trans "Delete" %}" />
      <input type="button" value="{% trans "Cancel" %}" onclick="window.location='{{next}}'"/>
      <input type="hidden" name="next" value="{{next|default:""}}"/>
    </div>
  </div>
</form>
{% endblock %}