Django>=1.2
ipython
werkzeug
# psycopg2
django-extensions
django-debug-toolbar
PyYAML
fabric==0.9.0
sorl-thumbnail
pil
-e git+http://github.com/thauber/django-schedule.git#egg=django-schedule
vobject             # django-schedule dependency
python-dateutil     # django-schedule dependency
django-tagging
BeautifulSoup
