{% extends "base.html" %}

{% block css %}
{{block.super}}
<style type="text/css"> 
#north { height:200px; position:relative; }
#blurb { color:black; top:0; left:0; font-size: 16px; width:500px; position:absolute; padding:20px; }
#blurb > * { margin: 10px 0; }
#blurb-pic { top:0; right:0; position:absolute; }
.big { font-size: 24px; }
</style> 
{% endblock %}

{% block content %}
<div id="north" class="debug">
  <div id="blurb" class="debug">
    <p class="big">
        HN Office Hours is an idea that started as Hacker News discussion thread. So far it's been
        a weekend hack, but here are the people that contributed. Email one of us if we missed you!
    </p>
    <h3>
        In no particular order
    </h3>

    <ul id="about">
        <li> E Liu 
             e@pybrew.com
             <a href="http://github.com/ezl/">github.com/ezl/</a>
        </li>
        <li> Rodrigo Guzman 
             <a href="http://metarz.net/">metarz.net</a> 
             rodguze@gmail.com 
             rz@pybrew.com
        </li>
        <li> Chris Allen 
             <a href="http://bitemyapp.com">bitemyapp.com</a>
             <a href="http://github.com/bitemyapp/">github.com/bitemyapp/</a>
             cma@bitemyapp.com
        </li>
        <li> Chad Glendenin 
             <a href="http://chad.glendenin.com/">chad.glendenin.com</a>
             chad@glendenin.com 
             ccg@pybrew.com 
        </li>
        <li> Barry Melton
             <a href="http://sympodial.com/">sympodial.com</a>
             Barry.Melton@gmail.com
        <li> C Chang 
             <a href="http://crccheck.com/">crccheck.com</a> 
             c@crccheck.com
        </li>
    </ul>

  </div>
</div>
{% endblock content %}
