{% extends "base.html" %}

{% block content %}
    <p>
        HN Office Hours is an idea that started as Hacker News discussion thread. So far it's been
        a weekend hack, but here are the people that contributed. Email one of us if we missed you!
    </p>
    <h3>
        In no particular order
    </h3>

    <ul id="about">
        <li> E Liu
             <a href="http://github.com/ezl/">github.com/ezl/</a>
             e@pybrew.com
        </li>
        <li> Rodrigo Guzman 
             <a href="http://metarz.net/">metarz.net</a> 
             rodguze@gmail.com 
             rz@pybrew.com
        </li>
        <li> Chris Allen 
             <a href="http://bitemyapp.com">bitemyapp.com</a>
             <a href="http://github.com/bitemyapp/">github.com/bitemyapp/</a>
             cma@bitemyapp.com
        </li>
        <li> Chad Glendenin 
             <a href="http://chad.glendenin.com/">chad.glendenin.com</a>
             chad@glendenin.com 
             ccg@pybrew.com 
        </li>
        <li> Barry Melton
             <a href="http://sympodial.com/">sympodial.com</a>
             Barry.Melton@gmail.com
        <li> C Chang 
             <a href="http://crccheck.com/">crccheck.com</a> 
             c@crccheck.com
        </li>
    </ul>
{% endblock content %}
