<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>
	{% block title %}
		HN Office Hours
		{% block extra_title %}
		{% endblock extra_title %}
	{% endblock title %}
  </title>
  {% block javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  {% endblock javascript %}
  {% block css %}
    <link rel="shortcut icon" href="{{ MEDIA_URL}}favicon.ico">
    <link href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css" type="text/css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/base.css">
  {% endblock css %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="container">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <div id="header">
      {% if request.user.is_authenticated %}
        Logged in as {{ request.user.username }}. <a href="{% url logout %}">logout</a>
      {% else %}
        <a href="{% url login %}">login</a> or <a href="{% url register %}">signup</a>
      {% endif %}
    </div>
    {% block content %} {% endblock %}
  </div>
</body>
</html>
