<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>
 {% block title %}
   HN Office Hours
   {% block extra_title %}
   {% endblock extra_title %}
 {% endblock title %}
  </title>
  {% block javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}js/site.js"></script>
  {% endblock javascript %}
  {% block css %}
    <link rel="shortcut icon" href="{{ MEDIA_URL}}favicon.ico">
    <link href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css" type="text/css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/base.css">
  {% endblock css %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div id="top">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="container">
    <div id="header">
      <div id="logo">
        <a href="{% url index %}">HN Office Hours</a>
      </div>
      <div id="nav">
          {% if request.user.is_authenticated %}
            {% if user.get_profile.is_available %}
              <a class="setAvailability btn" href="{% url set_availability 1 %}">Available</a>
              <a class="setAvailability" href="{% url set_availability 0 %}">Unavailable</a>
            {% else %}
              <a class="setAvailability" href="{% url set_availability 1 %}">Available</a>
              <a class="setAvailability btn" href="{% url set_availability 0 %}">Unavailable</a>
            {% endif %}
            Logged in as <a href="{% url view_profile username=user.username %}">{{ request.user.username }}</a>
            <a class="btn" href="{% url profile %}">User CP</a>
            <a class="btn" href="{% url logout %}">logout</a>
          {% else %}
            <a class="btn" href="{% url login %}">login</a> or <a class="btn" href="{% url register %}">signup</a>
          {% endif %}
          <a class="btn" href="/about/">About</a>
      </div>
    </div>
    {% block sidebar %} {% endblock %}
    {% block content %} {% endblock %}
    {% block footer %}
    <div class="footer">
      List orphaned links here: <a href="{% url list_profiles %}">All Users</a>
    </div>
    {% endblock %}
  </div>
</body>
</html>
