{% load timezone_filters %}

<li>
  {% if editable %}<a href="{% url delete_event office_hour.event.id %}">&times;</a><a href="{% url edit_event office_hour.event.id %}">edit</a>{% endif %}
  {{ office_hour.event.creator }}
  skype: {{ office_hour.event.creator.get_profile.skype }}
  {% if request.user.is_authenticated %}
    starts: {{ office_hour.start|localtime:request.user.get_profile.timezone }}
    ends: {{ office_hour.end|localtime:request.user.get_profile.timezone }}
  {% else %}
    starts: {{ office_hour.start }}
    ends: {{ office_hour.end }}
    (All times are US Central Time)
  {% endif %}
</li>
