{% extends "base.html" %}

{% block css %}
    {{block.super}}
    <link type="text/css" href="/site_media/jqac/jquery.autocomplete.css"/>
    <style>
        a.ajax_delete{
            color: black;
            font-size: 16px;
        }        
        a.ajax_delete:hover{
            color: red;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascript %}
    {{block.super}}
    <script type="text/javascript" src="/site_media/jqac/jquery.autocomplete.min.js"></script>

<script type="text/javascript">
$(function(){
    $('a.ajax_delete').click(function(){
        var skillID = $(this).closest('li').attr('id').split('-')[1];
        $.getJSON(
          "/profile/{{profile.id}}/skill/" + skillID +"/remove/",
          function(cdata) {
            if(cdata.status == "success"){
                $("#skill-" + cdata.skill_id).remove();
            }
            else{
                alert(cdata.status);
            }
          }
        );
    });
});
</script>
{% endblock javascript %}

{% block content %}
<form method="POST" action="">{% csrf_token %}
    <input type="hidden" style="display:none;" name="origin" value="profile" />
    <div class="pretty">
    <h1>Update Your Profile</h1>
    {{profile_form.as_p}}
    <input type="submit" value="Update profile" />
    </div>
</form>
<form method="POST" action="">{% csrf_token %}
    <input type="hidden" style="display:none;" name="origin" value="skill" />
    <div class="pretty">
    <h1>Add Skills</h1>
    <p class="help">If entering multiple skills, deliminate skills using commas</p>
    {{skill_form.as_p}}
    <input type="submit" value="Add" />
    </div>
</form>
<div class="pretty">
    <h1>Your Skills</h1>
    <p  class="help">To remove a skill, click on the &times;</p>
    <ul>
        {% for skill in skills %}{% spaceless %}
            <li id="skill-{{skill.id}}" class="skills">
                <a class="ajax_delete">&times;</a>
                {{skill}}
            </li>
        {% endspaceless %}{% endfor %}
    </ul>
</div>
<div class="pretty">
  <h1>Tasks</h1>
  <ul>
    <li><a href="{% url schedule %}">Add office hours</a></li>
  </ul>

</div>
{% endblock content %}
