{% extends "base.html" %}
{% block javascript %}
    {{block.super}}
    <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
{% endblock javascript %}
{% block extra_head %}
<style>
  .skype { position: absolute; }
</style>
{% endblock %}

{% block content %}
<div class="pretty">
  {% if display_full_profile %}
    <h1>
      {{ user.username }}
      {% if user.get_profile.is_available %}
        (Currently available)
      {% else %}
        (Not available)
      {% endif %}
    </h1>
    {% with user.get_profile as profile %}
      <p><label>skype:</label> {{ profile.skype }}
      {% if profile.skype %}
<a class="skype" href="skype:{{ profile.skype }}?call"><img src="http://mystatus.skype.com/bigclassic/{{ profile.skype }}" style="border: none;" width="182" height="44" alt="My status" /></a>
      {% endif %}
      </p>
      <p><label>aim:</label> {{ profile.aim }}</p>
      <p><label>gchat:</label> {{ profile.gchat }}</p>
      <p><label>phone:</label> {{ profile.phone }}</p>
    {% endwith %}
  {% else %}
    <p>You need an account to see full-details.</p>
  {% endif %}
  {#  skills #}
  {# times #}
  <h2>Holds office hours for:</h2>
    <ul>
    {% for skill in user.get_profile.skills.all %}
      <li>{{ skill }}</li>
    {% empty %}
      <li>{{ user.username }} has not listed his skills</li>
    {% endfor %}
    </ul>
  <br />
  {# AVAILABLE OFFICE HOURS #}
  {% include "profiles/user_office_hours.html" %}

</div>
<div>
  show a calendar and/or picture?
  comments/ratings of this guy
</div>
{% endblock content %}
