{% extends "base.html" %}

{% block content %}
<div class="pretty">
  {% if display_full_profile %}
    <h1>{{ user.username }}</h1>
    {% with user.get_profile as profile %}
      <p><label>skype:</label> {{ profile.skype }}</p>
      <p><label>aim:</label> {{ profile.aim }}</p>
      <p><label>gchat:</label> {{ profile.gchat }}</p>
      <p><label>phone:</label> {{ profile.phone }}</p>
    {% endwith %}
  {% else %}
    <p>You need an account to see full-details.</p>
  {% endif %}
  {#  skills #}
  {# times #}
  <h2>Available office hours:</h2>
  <ul>
  {% for office_hour in office_hours %}
    {% include "profiles/office_hour.html" %}
  {% empty %}
    <li>No office hours.</li>
  {% endfor %}
  </ul>
</div>
<div>
  show a calendar and/or picture?
  comments/ratings of this guy
</div>
{% endblock content %}
